
/* default color scheme */
@define-color bg_color #f1f1f1;
@define-color fg_color #000000;
@define-color base_color #f7f7f7;
@define-color text_color #000000;
@define-color selected_bg_color #e3e3e3;
@define-color selected_fg_color #000000;
@define-color tooltip_bg_color #f7f7f7;
@define-color tooltip_fg_color #000000;
@define-color shadecolor #E86850;
@define-color border_color #777777;

/* colormap actually used by the theme, to be overridden in other css files */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* misc colors used by gtk+ */
/*@define-color info_fg_color rgb (80, 80, 80);
@define-color info_bg_color rgb (250, 250, 130);
@define-color warning_fg_color rgb (255, 255, 255);
@define-color warning_bg_color rgb (255, 150, 80);
@define-color question_fg_color rgb (80, 80, 80);
@define-color question_bg_color rgb (150, 180, 230);
@define-color error_fg_color rgb (255, 255, 255);
@define-color error_bg_color rgb (200, 70, 50);
@define-color link_color #2c82dd;
@define-color error_color #cc0000;*/

/*GtkWindow {
background-color: white;
border: 2px solid blue;
}*/

/* default */
* {
	engine: none;

	border-width: 2px;
	background-clip: padding-box;

	-GtkArrow-arrow-scaling: 0.5;
	-GtkButton-child-displacement-x: 0;
	-GtkButton-child-displacement-y: 0;
	-GtkButton-app-paintable: TRUE;
	-GtkButton-default-border: 0;
	-GtkButton-default-outside-border: 0;
	-GtkButton-image-spacing: 0;
	-GtkButton-interior-focus: false;
	-GtkButton-inner-border: 0;
	-GtkCheckButton-indicator-size: 15;
	-GtkCheckMenuItem-indicator-size: 12;
	-GtkDialog-content-area-spacing: 5;
	-GtkEntry-inner-border: 1;
	-GtkEntry-progress-border: 0;
	-GtkExpander-expander-size: 12;
	-GtkHTML-link-color: @link_color;
	-GtkIMHtml-hyperlink-color: @link_color;
	-GtkMenu-horizontal-padding: 0;
	-GtkMenu-vertical-padding: 0;
	-GtkMenuBar-internal-padding: 0;
	-GtkMenuItem-internal-padding: 0;
	-GtkMenuItem-arrow-scaling: 0.4;
	-GtkNotebook-initial-gap: 0;
	-GtkNotebook-tab-overlap: -2;
	-GtkPaned-handle-size: 1;
	-GtkProgressBar-min-horizontal-bar-height: 10;
	-GtkProgressBar-min-vertical-bar-width: 10;
	-GtkRange-slider-width: 9;
	-GtkRange-stepper-size: 0;
	-GtkRange-stepper-spacing: 0;
	-GtkRange-trough-border: 3;
	-GtkRange-trough-under-steppers: 1;
	-GtkScale-trough-border: 1;
	-GtkScrollbar-activate-slider: 1;
	-GtkScrollbar-trough-border: 1;
	-GtkScrollbar-slider-width: 15;
	-GtkScrollbar-min-slider-length: 50;
	-GtkScrolledWindow-scrollbar-spacing: 0;
	-GtkScrolledWindow-scrollbars-within-bevel: 1;
	-GtkSeparatorMenuItem-horizontal-padding: 0;
	-GtkStatusbar-shadow-type: none;
	-GtkTextView-error-underline-color: @error_color;
	-GtkToolButton-icon-spacing: 6;
	-GtkToolItemGroup-expander-size: 11;
	-GtkToolbar-internal-padding: 0;
	-GtkTreeView-expander-size: 11;
	-GtkTreeView-vertical-separator: 0;
	-GtkWidget-wide-separators: true;
	-GtkWidget-separator-width: 2;
	-GtkWidget-separator-height: 2;
	-GtkWidget-focus-padding: 0;
	-GtkWidget-focus-line-width: 0;
	-GtkWidget-link-color: @link_color;
	-GtkWidget-visited-link-color: @link_color;
	-GtkWindow-resize-grip-width: 10;
	-GtkWindow-resize-grip-height: 10;
	-WnckTasklist-fade-overlay-rect: 0;
}
  
/*
GtkToolbar {
}*/

GtkBin * {
	font: Tahoma 10;
	font-weight: normal;
}

GtkMenuBar{
	border-width: 0px 0px 0px 0px;
	background-color: @transparent;
}

GtkMenu{
	background-color: @theme_base_color;
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/*GtkWindow{
	background-color: @transparent;
}

GtkMenuItem:hover {
	border-bottom: 1px solid @shadecolor;
}*/

GtkMenuItem:hover,
GtkMenuItem:prelight {
	background-color: @theme_base_color;
	border-left-color: @shadecolor;
    border-right-color: @shadecolor;
	border-radius: 0;
	border-style: solid;
	border-width: 0px 4px 0px 4px;
}


GtkButton{
	background-color: @theme_base_color;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-right-color: @border_color;
	border-radius: 0;
	border-style: solid;
	border-width: 0px 5px 0px 0px;
}
/* Theme active (pressed) buttons */
GtkButton:active {
    background-color: @shadecolor;
}
 
/* Theme buttons with the mouse pointer on it,
   both are equivalent */
GtkButton:hover,
GtkButton:prelight {
	background-color: @theme_base_color;
	border-right-color: @shadecolor;
    border-bottom-color: @shadecolor;
	border-radius: 0;
	border-style: solid;
	border-width: 0px 5px 0px 0px;
}

GtkCheckButton:hover,
GtkCheckButton:active:hover,
GtkCheckButton:selected,
GtkCheckButton:selected:focus {
	background-color: transparent;
}

.check,
.check:hover,
.check:insensitive,
.check:inconsistent,
.check:inconsistent:hover,
.check:inconsistent:insensitive,
.check:inconsistent:insensitive:active,
.check row{
	background-position:left center;
	border:1px solid #000;
}

/**************
 * spinbutton *
 **************/
.spinbutton.button:active,
.spinbutton.button:insensitive,
.notebook .spinbutton.button:active,
.notebook .spinbutton.button:insensitive,
.spinbutton.button,
.notebook .spinbutton.button {
    border-radius: 0;
    border-width: 1px 0 1px 1px;
}

.spinbutton.button:active:nth-child(last),
.spinbutton.button:insensitive:nth-child(last),
.notebook .spinbutton.button:active:nth-child(last),
.notebook .spinbutton.button:insensitive:nth-child(last),
.spinbutton.button:nth-child(last),
.notebook .spinbutton.button:nth-child(last) {
    border-radius: 0 2px 2px 0;
    border-width: 1px;
}

.spinbutton.button,
.notebook .spinbutton.button {
    background-image: none;
    border-top-color: shade (@theme_bg_color, 0.64);
    border-right-color: shade (@theme_bg_color, 0.76);
    border-bottom-color: shade (@theme_bg_color, 0.82);
    border-left-color: shade (@theme_bg_color, 0.76);
}

.spinbutton.button:insensitive,
.notebook .spinbutton.button:insensitive {
    background-image: none;
    border-top-color: shade (@theme_bg_color, 0.64);
    border-right-color: shade (@theme_bg_color, 0.76);
    border-bottom-color: shade (@theme_bg_color, 0.82);
    border-left-color: shade (@theme_bg_color, 0.76);

    color: shade (@theme_bg_color, 0.66);
}

.spinbutton,
.spinbutton:hover {
    color: @theme_fg_color;
}

/***********
 * tooltip *
 ***********/
.tooltip {
    background-color: @theme_tooltip_bg_color;
    border-color: alpha (@theme_tooltip_bg_color, 0.8);
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: @theme_tooltip_fg_color;
}


GtkDialog{
	background-color: @theme_bg_color;
	border-color: alpha (@shadecolor, 0.8);
	border-radius: 0;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}

/*********
 * frame *
 *********/

GtkFrame{
	border-radius:0px;
	border-width: 0px 0px 0px 3px;
	border-style: solid;
	border-color: @shadecolor;
}

/*********
 * entry *
 *********/
.entry,
.entry:backdrop,
.entry:focus,
.entry:selected,
.entry:selected:focus,
.entry:focus,
.entry:insensitive,
.entry:insensitive:backdrop,
.primary-toolbar .entry,
.primary-toolbar .entry:focus,
.primary-toolbar .entry.progressbar,
.primary-toolbar .entry.progressbar,
.entry.progressbar{
	-GtkWidget-focus-line-width: 0;
	background:none;
	box-shadow:none;
	border:1px solid #4c4c4c;
	border-radius:0px;
	padding: 3px 4px;
	color: @theme_text_color;
	/*border-image: url("../gtk-3.0/assets/entry.svg") 0 1 1 1 / 0 1 1 1 stretch;*/
}
.entry .button{background:none; border:none;}
.entry .button .image{background:#DD1AA8; border:4px solid #E32D2D}

.entry:selected,
.entry:selected:focus,
.entry:selected:focused{
	background-color:@selected_bg_color;
	color: @selected_fg_color;
	border:1px solid @shadecolor;
	border-radius:0px;
	padding: 3px 4px;
}

.entry:focused,
.entry:active,
.primary-toolbar .entry:focus{
	/*border-image: url("../gtk-3.0/assets/entry-focus.svg") 0 1 1 1 / 0 1 1 1 stretch;*/
}


.entry:insensitive{
	background-color: transparent;
	background-image: none;
	/*border-image: url("../gtk-3.0/assets/entry-insensitive.svg") 0 1 1 1 / 0 1 1 1 stretch;*/
	color: mix (@theme_text_color, @base_color, 0.4);
}

.primary-toolbar .entry.progressbar,
.primary-toolbar .entry.progressbar,
.entry.progressbar {
	background-image: none;
	border-width: 0;
	color: @selected_fg_color;
}
